{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load fit_tags %}

{% block title %}Sign Up Successful!{% endblock %}
{% block subtitle %}See you on {{ session.date_time|date:"l, d M Y" }} at {{ session.date_time|date:"H:i" }}{% endblock %}

{% block content %}
<div class="container">
    <!--- Session --->
    <legend>Session Details</legend>
    <div class="mb-2 row py-2">
        <label for="session_datetime" class="col-md-2">Date and Time:</label>
        <div class="col-md-10" id="session_datetime">
            {{ session.date_time|date:"l, d M Y" }}, {{ session.date_time|date:"H:i" }}
        </div>
    </div>
    <div class="mb-2 row py-2">
        <div class="col-md-6">
            <div class="row">
                <label for="session_conducting" class="col-md-4">Conducting:</label>
                <div class="col-md-8" id="session_conducting">
                    {{ session.conducting }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <label for="session_safety" class="col-md-4">Safety:</label>
                <div class="col-md-8" id="session_safety">
                    {{ session.safety }}
                </div>
            </div>
        </div>
    </div>
    <div class="mb-2 row py-2">
        <label for="session_call_link" class="col-md-2">Call Link:</label>
        <div class="col-md-10" id="session_call_link">
            <a href="{{ session.call_link }}" target="_blank">{{ session.call_link }}</a>
        </div>
    </div>
    <div class="mb-2 row py-2">
        <label for="session_instructions" class="col-md-2">Instructions:</label>
        <div class="col-md-10" id="session_instructions">
            {{ session.instructions }}
        </div>
    </div>

    <br><!--- Participant --->
    <legend>Your Particulars</legend>
    <div class="mb-2 row py-2">
        <label for="participant_uid" class="col-md-2">Buddy FIT UID:</label>
        <div class="col-md-10" id="participant_uid">
            {{ object.uid }}
        </div>
    </div>
    <div class="mb-2 row py-2">
        <label for="participant_name" class="col-md-2">Name:</label>
        <div class="col-md-10" id="participant_name">
            {{ object.name }}
        </div>
    </div>
    <div class="mb-2 row py-2">
        <div class="col-md-6">
            <div class="row">
                <label for="participant_unit" class="col-md-4">Unit:</label>
                <div class="col-md-8" id="participant_unit">
                    {{ object.unit }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <label for="participant_nric" class="col-md-4">NRIC (Last 4 characters):</label>
                <div class="col-md-8" id="participant_nric">
                    {{ object.nric }}
                </div>
            </div>
        </div>
    </div>
    <div class="mb-2 row py-2">
        <div class="col-md-6">
            <div class="row">
                <label for="participant_email" class="col-md-4">Email:</label>
                <div class="col-md-8" id="participant_email">
                    {{ object.email }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <label for="participant_mobile" class="col-md-4">Mobile Number:</label>
                <div class="col-md-8" id="participant_mobile">
                    {{ object.mobile_number }}
                </div>
            </div>
        </div>
    </div>

    <!--- Action Buttons --->
    <div class="d-flex justify-content-between">
        <a class="btn btn-secondary mt-auto" href="{% url 'post-participate-update' participation.id %}" role="button">Update Particulars</a>
        <a class="btn btn-dark mt-auto" href="{% url 'index' %}" role="button">OK</a>
    </div>
    <br>
</div>
{% endblock %}